name: Generate Snake

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout output branch
        uses: actions/checkout@v4
        with:
          ref: output

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: gustavosilvaneves
          svg_out_path: dist/snake.svg

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add dist/snake.svg
          git commit -m "Generate Snake" || echo "No changes"
          git push origin output
